*,
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.wrapper {
  max-width: 1165px;
  margin: auto;
}

h2 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.generate-group-form h2,
.derivation-group-form h2 {
  margin-top: 38px;
  margin-bottom: 20px;
}

.small-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: #777777;
}

a,
button,
select:focus,
input:focus,
textarea:focus,
select:active,
input:active,
textarea:active {
  transition: 0.35s ease;
}

a {
  color: #337ab7;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
}

button:hover {
  background: #ddd !important;
}

.main_header h1 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main_header p {
  position: absolute;
  top: 5px;
  right: 5px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ccc;
  border: none;
}

code {
  padding: 2px 4px;
  vertical-align: top;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  display: block;
  font-size: 14px;
  width: 100%;
  height: 34px;
  line-height: 20px;
  padding: 6px 12px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control.border-0 {
  padding-left: 0;
  padding-top: 7px;
}

.generate-btn {
  display: inline-block;
  background: #efefef;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-left: 5px;
  cursor: pointer;
}

.generate-btn.submit {
  margin-top: 10px;
  margin-bottom: 20px;
  min-width: 85px;
  background: #337ab7;
  color: #fff;
}

.generate-btn.submit:hover {
  background: #23527c !important;
}

.generate-group .select,
#select-coin {
  display: inline-block;
  width: auto !important;
  vertical-align: middle;
  height: 34px;
  padding: 6px 12px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

#select-coin,
#client,
#script-semantics {
  width: 100% !important;
  display: block;
  margin: 0;
  -webkit-appearance: menulist !important;
  appearance: menulist !important;
}

.checkbox {
  min-height: 27px;
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.radio,
.checkbox {
  position: relative;
  display: block;
}

.checkbox label {
  display: flex;
  align-items: center;
}

.radio label,
.checkbox label {
  min-height: 20px;
  font-weight: 400;
  cursor: pointer;
}

.checkbox label span {
  margin-left: 5px;
}

.languages a:not(:first-child) {
  padding-left: 10px;
  font-size: 14px;
}

.languages .form-control {
  border: 0;
  padding-left: 0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 0%);
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 0%);
}

.control-label {
  font-weight: 700;
  text-align: right;
}

.text-area {
  height: auto;
  word-break: keep-all;
}

.nav-tabs {
  margin-top: 5px;
}

.nav-tabs .nav-link {
  color: #337ab7;
}

.tab-content {
  margin-top: 25px;
  margin-bottom: 30px;
}

.with-bg {
  background-color: #eee;
}

#derived-addresses .password-input {
  margin-left: 5px;
  margin-right: 5px;
}

.table {
  margin-bottom: 0px;
}

#derivedAddressesContent .input-group {
  display: flex;
  align-items: center;
}

#derivedAddressesContent .input-group button {
  display: inline-block;
  padding: 1px 6px;
  border: 2px solid rgb(133, 133, 133);
  background: #efefef;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

#csv .csv {
  white-space: pre;
  overflow-wrap: normal;
  overflow: auto;
  height: auto;
  font-family: monospace;
  background: #eee;
  color: #555;
  border: 1px solid #ccc;
}

select:focus,
input:focus,
textarea:focus,
select:active,
input:active,
textarea:active {
  border-color: #66afe9;
  box-shadow: 0px 0px 3px #66afe9 !important;
}

.add-more-rows {
  display: inline-block;
  padding: 1px 6px;
  border: 1px solid rgb(133, 133, 133);
  background: #efefef;
  text-align: center;
  cursor: pointer;
  margin-right: 5px;
}

.rows-input,
.more-rows-from-index {
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 426px) {
  .control-label {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .add-more-rows,
  .rows-input,
  .more-rows-from-index {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 321px) {
  #derived-addresses .checkbox {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .add-more-rows,
  .rows-input,
  .more-rows-from-index {
    margin: 5px 0;
  }
}
